body{
    background: url(images/corp.png) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:100%;
    margin-top:2%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 10px 10px 13px #848484;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:10px;
}